<h1>Listing formulaires</h1>

<table>
  <tr>
    <th>Prenom</th>
    <th>Adresse</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @formulaires.each do |formulaire| %>
  <tr>
    <td><%= formulaire.prenom %></td>
    <td><%= formulaire.adresse %></td>
    <td><%= link_to 'Show', formulaire %></td>
    <td><%= link_to 'Edit', edit_formulaire_path(formulaire) %></td>
    <td><%= link_to 'Destroy', formulaire, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Formulaire', new_formulaire_path %>
